name: Deploy

on:
  push:
    branches:
      - main
      - develop
      - 'feature/**'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Verify frontend files
        run: |
          echo "Checking frontend files..."
         
          for file in index.html style.css script.js; do
            if [ ! -f $file ]; then
              echo "$file is missing, but continuing for assignment..."
            else
              echo "$file found."
            fi
          done

      - name: Simulate Deployment
        run: |
          echo "Deployment simulation successful."
